* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.conteiner {
  width: 100%;
  height: 100%;
}

.allWidth {
  width: 65%;
  margin: 0 auto;
}

/* navbar start */

.conteiner .navbar {
  width: 100%;
  height: 44px;
  background-color: #424242;
}

.conteiner .navbar .allWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.conteiner .navbar .allWidth .navlinks ul {
  display: flex;
  gap: 30px;
}

.conteiner .navbar .allWidth .navlinks ul li a {
  font-size: 12px;
  color: #f5f5f7;
  font-weight: 400;
}

.conteiner .navbar .allWidth .icons i {
  font-size: 18px;
  color: #f5f5f7;
  font-weight: 400;
  margin: 7px 10px 0 10px;
}

/* unisef */

.conteiner .unisef {
  width: 100%;
  height: 72px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* sectionOne */

.conteiner .sectionOne {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
  background: #fafafd;
  margin-bottom: 15px;
}

.conteiner .sectionOne h1 {
  font-size: 56px;
  color: #1d1d1f;
  font-weight: 700;
}

.conteiner .sectionOne p {
  color: #000000;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.conteiner .sectionOne a {
  color: #0066cc;
  font-weight: 400;
  font-size: 21px;
}
.conteiner .sectionOne img {
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
  margin-bottom: -10px;
}

/* sectionTwo */

.conteiner .sectionTwo {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fafafd;
  padding: 50px 0;
}

.conteiner .sectionTwo .phone {
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
}

.conteiner .sectionTwo span {
  font-weight: 590;
  font-size: 21px;
  color: #161618;
}

.conteiner .sectionTwo h1 img {
  width: 40px;
  object-fit: cover;
}

.conteiner .sectionTwo h1 {
  font-style: normal;
  font-weight: 590;
  font-size: 56px;
  color: #161618;
}

.conteiner .sectionTwo p {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.conteiner .sectionTwo a {
  color: #0066cc;
  font-weight: 400;
  font-size: 21px;
}

/* sectionThree */

.conteiner .sectionThree {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background-color: #000;
  padding: 50px 0;
}

.conteiner .sectionThree img:nth-child(2) {
  width: 616px;
  height: 622px;
  object-fit: cover;
}

.conteiner .sectionThree .sectionThreeText h1 {
  font-style: normal;
  font-weight: 590;
  font-size: 56px;
  color: #ffffff;
}

.conteiner .sectionThree .sectionThreeText {
  text-align: center;
}

.conteiner .sectionThree .sectionThreeText h1 img {
  width: 106px;
  height: 49px;
  position: relative;
  top: 10px;
  left: -16px;
  object-fit: cover;
}

.conteiner .sectionThree .sectionThreeText p {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.conteiner .sectionThree .sectionThreeText a {
  color: #0066cc;
  font-weight: 400;
  font-size: 21px;
  margin-left: 20px;
}

.conteiner .sectionThree .sectionThreeText a i {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  top: 7px;
  right: 10px;
}

/* sectionFour */

.conteiner .sectionFour {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 15px;
}

.conteiner .sectionFour .sectionFourItem {
  width: 49.5%;
  border: 1px solid transparent;
  height: 600px;
  background-color: #fafafd;
  text-align: center;
  padding: 30px;
  position: relative;
}

.conteiner .sectionFour .sectionFourItem img {
  width: 50%;
  position: absolute;
  bottom: 30px;
  right: 25%;
  transform: rotateX(-50%);
}

.conteiner .sectionFour .sectionFourItem h1 {
  font-style: normal;
  font-weight: 590;
  font-size: 40px;
  color: #000000;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}

.conteiner .sectionFour .sectionFourItem p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000000;
  letter-spacing: 0.005em;
}

.conteiner .sectionFour .sectionFourItem a {
  color: #0066cc;
  font-weight: 400;
  font-size: 21px;
}

.conteiner .sectionFour .sectionFourItem a i {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  top: 7px;
  right: 10px;
}

.conteiner .sectionFour .sectionFourItem:nth-child(6) {
  background: url("./img/Gradient\ background.png") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner .sectionFour .sectionFourItem:nth-child(6) h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.04em;
}

.conteiner .sectionFour .sectionFourItem:nth-child(6) p {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.005em;
  font-size: 17px;
  color: #ffffff;
}

/* footer */

footer {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

footer .text {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

footer .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #6e6e73;
  line-height: 24px;
}

footer .footerLinks {
  display: flex;
  justify-content: space-between;
}

footer .footerLinks ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footerLinks ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #424245;
}

footer .textTwo {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #6e6e73;
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

footer .textTwo a {
  color: #0066cc;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #6e6e73;
}

footer .footer ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #6e6e73;
  margin-left: 15px;
}

footer .footer ul li ~ li::before {
  content: "|";
  position: relative;
  right: -9px;
  color: #cbcbcf;
}

footer .footer .right a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #6e6e73;
}
